{%extends "base.html.twig"%}
{% block body %}
    {{form_start(form)}}
    {{form_row(form.login)}}
    {{form_row(form.password)}}
    {{form_row(form.save)}}
    {% for message in app.flashes('erreur') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    {{form_end(form)}}
{% endblock %}