{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.login) }}
        {{ form_row(form.password) }}
        {{ form_row(form.mail) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
